/*
 * tab的样式
 * @author jxpi
 * @time 2015-07-09
 */

/* module:tab页样式 - by jxpi */
.jquery-tab {
	height: 38px;
}

.tab-ul {
	height: 37px;
	border-bottom: 1px solid #e4e4e4;
}

.tab-ul-li {
	float: left;
	margin: 0 5px;
	height: 35px;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
}

.tab-ul-li:first-child {
	margin-left: 0;
}

.tab-ul-li a {
	display: inline-block;
	margin-top: 1px;
	padding: 10px 20px;
	font: bold 14px "simsun";
	color: #333;
}

.tab-ul-li i {
	cursor: pointer;
}

.tab-ul .tab-select {
	border-top: 2px solid #396c9e;
	border-bottom: 1px solid #fff;
}

.tab-ul .tab-select a {
	background: #fff;
	color: #4b7dde;
}

.jquery-tab-div-edit {
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	min-height: 100px;
}

.jquery-tab-edit {
	height: 27px;
	border-top: 1px solid #e4e4e4;
}

.jquery-tab-edit .tab-ul {
	/*padding-left: 15px; */
	height: 26px;
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}

.jquery-tab-edit .tab-ul .tab-select a {
	color: #292929;
}

.jquery-tab-edit .tab-ul-li {
	float: left;
	margin: 0;
	height: 26px;
	border-top: none;
	border-left: 1px solid #e4e4e4;
	border-right: none;
}

.jquery-tab-edit .tab-ul-li a {
	display: inline-block;
	padding: 6px 8px 2px 12px;
	font: 12px "simsun";
	color: #757575;
}

.jquery-tab-edit .tab-ul-add {
	float: left;
	height: 26px;
	border-top: none;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	background: #f5f6f8;
}

.jquery-tab-edit .tab-ul-add a {
	float: left;
	margin-top: 5px;
	padding: 2px 5px 2px 12px;
	font: 12px "simsun";
	color: #333;
}

.jquery-tab-edit .tab-ul-add i {
	float: right;
	display: inline-block;
	margin-top: 8px;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	background: url(../img/tab-add-icon.png) no-repeat;
}

.jquery-tab-edit .tab-del {
	float: right;
	margin: 1px 4px 0 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/tab-del-icon.png) no-repeat;
}

/* end module tab页样式 */